* {
  margin: 0;
  padding: 0;
}
/* Reset default browser styles */
html, body {
  margin: 0;
  padding: 0;
  /* You may also want to set the height to 100% if you want to control the full page height */
  height: 100%;
}

/* Ensure that the root div of your Next.js app takes full height as well */
#__next {
  height: 100%;
}